@model IEnumerable<CPRG214.MvcCore.Assignment2.Presentation.Models.AssetViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>List of all Assets</h1>


<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.TagNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add</a>
<a asp-action="Search" class="btn btn-warning">Search</a>

